div.-inline {
  display: inline-block;
  margin-right: 19px;
}
div.-inline:nth-child(4n) {
  margin-right: 0;
}
.fieldset {
  position: relative;
  border: 0;
  border-radius: 8px;
  background-color: #fff;
  padding: 20px 90px 24px;
  margin-top: 16px;
}
.label {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  color: rgba(32, 36, 56, 0.4);
  margin-bottom: 8px;
}
.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px 0;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  border-radius: 4px;
  border: solid 1px rgba(32, 36, 56, 0.2);
  height: 48px;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #202438;
}
.input[disabled] {
  background-color: rgba(32, 36, 56, 0.05);
}
.input-price {
  margin-bottom: 8px;
}
.input-mid {
  width: 336px;
}
.input-short {
  width: 156px;
}
.input-big {
  width: 696px;
}
.input-ok {
  border: solid 1px #43d167;
}
.input-category {
  width: 516px;
}
.input-calendar {
  background: url("../images/calendar.svg") top 16px right 16px no-repeat;
}
.input-calendar:focus {
  background: url("../images/calendar.svg") top 15px right 15px no-repeat;
}
.input::-webkit-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: rgba(32, 36, 56, 0.4);
}
.input::-moz-placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: rgba(32, 36, 56, 0.4);
}
.input:-ms-input-placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: rgba(32, 36, 56, 0.4);
}
.input::placeholder {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: rgba(32, 36, 56, 0.4);
}
.input:hover {
  border: solid 1px rgba(32, 35, 56, 0.4);
}
.input:focus {
  border: 2px solid #1b68ff;
  padding: 0 14px 0;
  outline: none;
}
.select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 16px;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  border-radius: 4px;
  border: solid 1px rgba(32, 36, 56, 0.2);
  height: 48px;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #202438;
}
.select-big {
  width: 696px;
}
.select-mid {
  width: 336px;
}
.select:hover {
  border: solid 1px rgba(32, 35, 56, 0.4);
}
.option {
  width: 233px;
  height: 56px;
}
select::-ms-expand {
  display: none;
}
option[disabled] {
  color: rgba(32, 36, 56, 0.4);
}
.formSplitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.formSplitter__left {
  width: 50%;
}
.formSplitter__right {
  padding-left: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  line-height: 1.4;
}
.formSplitter__right-uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  color: rgba(32, 36, 56, 0.4);
  font-weight: 600;
}
.textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 17px 25px 15px 16px;
  width: 696px;
  border-radius: 4px;
  border: solid 1px rgba(32, 36, 56, 0.2);
  resize: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #202438;
  margin-bottom: 16px;
}
.textarea-big {
  height: 492px;
}
.textarea-small {
  height: 112px;
  resize: vertical;
}
.textarea:hover {
  border: solid 1px rgba(32, 35, 56, 0.4);
}
.textarea:focus {
  border: 2px solid #1b68ff;
  padding: 16px 24px 14px 15px;
  outline: none;
}
.textarea-description {
  height: 312px;
}
input[type='checkbox'] {
  display: none;
}
input[type='checkbox'] + .checkboxLabel {
  display: block;
  height: 24px;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-align: left;
  color: #202438;
  margin-bottom: 16px;
  cursor: pointer;
  outline: none;
  font-size: 14px;
}
input[type='checkbox'] + .checkboxLabel > span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: solid 1px rgba(32, 36, 56, 0.2);
  cursor: pointer;
  padding-top: 2px;
  margin-right: 8px;
  vertical-align: middle;
  margin-top: -5px;
}
input[type='checkbox'] + .checkboxLabel-inline {
  display: inline-block;
  margin-right: 34px;
}
input[type='checkbox'] + .checkboxLabel:hover > span {
  border: solid 1px rgba(32, 36, 56, 0.4);
}
input[type='checkbox'] + .checkboxLabel:active > span {
  background-color: rgba(32, 35, 56, 0.1);
  border: solid 1px rgba(32, 35, 56, 0.1);
}
input[type='checkbox']:checked + .checkboxLabel {
  color: #202438;
}
input[type='checkbox']:checked + .checkboxLabel > span {
  background: #1b68ff;
  border: none;
  position: relative;
}
input[type='checkbox']:checked + .checkboxLabel:hover > span {
  background-color: #0048ff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 72, 255, 0.58);
          box-shadow: 0 2px 4px 0 rgba(0, 72, 255, 0.58);
}
input[type='checkbox']:checked + .checkboxLabel > span::after {
  display: block;
  content: "";
  position: absolute;
  top: 15%;
  left: 38%;
  width: .4em;
  height: .8em;
  border: 2px solid #fff;
  border-top: none;
  border-left: none;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.innerButton {
  display: inline-block;
  cursor: pointer;
  height: 32px;
  border-radius: 100px;
  background-color: rgba(32, 36, 56, 0.05);
  text-align: center;
  line-height: 32px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #202438;
  margin-bottom: 10px;
  padding: 0 16px;
  margin-top: 10px;
}
.innerButton-right {
  float: right;
}
.innerButton-left {
  float: left;
}
.innerButton:hover {
  background-color: rgba(32, 35, 56, 0.1);
}
.innerButton:active {
  background-color: rgba(32, 35, 56, 0.2);
  color: rgba(32, 36, 56, 0.8);
}
.buttons {
  float: right;
  width: 418px;
  margin-right: 73px;
}
.submit {
  float: left;
  border: none;
  outline: none;
  width: 195px;
  height: 48px;
  border-radius: 100px;
  background: url("../images/up.png") no-repeat top 12px right 24px, #ff7642;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 8px;
  cursor: pointer;
  margin-top: 16px;
  padding-left: 24px;
  text-align: left;
}
.submit-emptyForm {
  float: right;
  margin-right: 16px;
}
.submit:hover {
  background-color: #ff5721;
  -webkit-box-shadow: 0 2px 4px 0 #ff5721;
          box-shadow: 0 2px 4px 0 #ff5721;
}
.submit:active {
  background-color: #e86d41;
}
.preview {
  float: left;
  border: none;
  outline: none;
  width: 195px;
  height: 48px;
  border-radius: 100px;
  background: url("../images/prev.png") no-repeat top 12px right 24px, rgba(32, 36, 56, 0.6);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  margin-right: 16px;
  margin-bottom: 8px;
  cursor: pointer;
  margin-top: 16px;
  padding-left: 24px;
  text-align: left;
}
.preview:hover {
  background-color: rgba(32, 35, 56, 0.8);
}
.preview:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(32, 35, 56, 0.6);
}
.tabs {
  height: 14px;
}
.tabs > * {
  cursor: pointer;
}
.tabs .label__tab {
  float: left;
  color: rgba(32, 36, 56, 0.2);
  margin-right: 16px;
}
.tabs .label__tab-active {
  color: rgba(32, 36, 56, 0.4);
}
.innerTabs > div {
  display: none;
}
.innerTabs .input-active {
  display: block;
  position: relative;
}
.stubActBlock {
  display: none;
}
.stubActBlock-active {
  display: block;
}
.fixedActs {
  margin-left: -23px;
}
.fixedActs__act {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}
.fixedActs__act:hover > .trash {
  display: block;
}
.fixedActs__num {
  color: rgba(32, 36, 56, 0.4);
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  padding: 16px 8px 0 0;
  width: 23px;
}
.fixedActs__content {
  padding: 16px 16px 20px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(32, 36, 56, 0.2);
          box-shadow: 0 2px 4px 0 rgba(32, 36, 56, 0.2);
}
.fixedActs__head {
  font-size: 10px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 1px;
  color: rgba(32, 36, 56, 0.4);
  text-transform: uppercase;
  margin-bottom: 8px;
}
.fixedActs__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-align: left;
  color: #202438;
  margin-bottom: 16px;
}
.fixedActs__cats {
  margin-bottom: 10px;
}
.fixedActs__dateRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fixedActs__place {
  margin-right: 56px;
}
.trash {
  width: 16px;
  height: 20px;
  background: url("../images/trash.svg");
  cursor: pointer;
}
.trash-fixCats {
  display: none;
  position: absolute;
  top: 16px;
  right: 16px;
}
