* {
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
h1 {
  font-size: 30px;
  line-height: 45px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 26px;
  font-weight: 800;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #202438;
  margin: 13px 0 16px;
}
.groups {
  margin-top: 24px;
}
h3 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #202438;
  margin-bottom: 8px;
}
.ungroup {
  color: rgba(32, 36, 56, 0.4);
}
ul {
  list-style: none;
}
.clr {
  clear: both;
}
.linkButton {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: #1b68ff;
  text-decoration: none;
}
.linkButton:hover {
  color: #ff5721;
  text-decoration: underline;
}
.linkButton-price {
  margin-bottom: 20px;
  margin-right: 3px;
}
.linkButton-price-hidden {
  display: none;
}
.linkButton-hide {
  margin-bottom: 20px;
  cursor: pointer;
}
.linkButton-comments {
  display: inline-block;
  margin-bottom: 16px;
}
.wrapper {
  display: flex;
  min-height: 100%;
  min-width: 1066px;
}
.innerWrapper {
  width: 876px;
  margin: 0 auto;
}
.leftMenu {
  box-sizing: border-box;
  width: 190px;
  background-color: #202438;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  line-height: 18px;
  z-index: 1000;
  min-height: 100%;
}
.leftMenu__logo {
  width: 190px;
  height: 56px;
  background: url("../images/logo.svg"), no-repeat;
  margin-bottom: 32px;
}
.leftMenu > ul {
  margin-left: 16px;
}
.leftMenu > ul > li {
  margin-bottom: 24px;
}
.leftMenu__link {
  color: #fff;
  text-decoration: none;
}
.leftMenu__link:hover {
  color: #ff5721;
  text-decoration: underline;
}
.content {
  min-height: 100%;
  width: 100%;
  background-color: rgba(32, 36, 56, 0.05);
  padding-bottom: 48px;
}
.header {
  padding-top: 40px;
  margin-bottom: 16px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
}
.header-fixed {
  z-index: 999;
  background: #fff;
  opacity: 0.9;
}
.topMenu {
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;
}
.topMenu li:last-child {
  margin-right: 0;
}
.topMenu__link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: rgba(32, 36, 56, 0.4);
}
.contractNumber,
.counts {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #202438;
}
.contractNumber > div {
  cursor: pointer;
  display: inline-block;
  color: #1b68ff;
  border-bottom: 1px solid rgba(16, 127, 255, 0.3);
}
.comissionBlock {
  display: flex;
  padding-top: 19px;
  padding-bottom: 27px;
}
.comissionBlock > div {
  margin-right: 14px;
}
.info {
  display: inline-block;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: rgba(32, 36, 56, 0.6);
}
.info-submit {
  float: right;
  clear: both;
  width: 228px;
  margin-right: 52px;
}
.mapBlock {
  width: 336px;
  height: 336px;
  border-radius: 4px;
  border: solid 1px rgba(32, 36, 56, 0.2);
}
.cats {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 16px;
}
.tag {
  box-sizing: border-box;
  padding: 0 35px 0 16px;
  display: inline-block;
  height: 40px;
  border-radius: 100px;
  background: rgba(32, 36, 56, 0.05) url("../images/x.svg") no-repeat top 12px right 12px;
  line-height: 40px;
  cursor: pointer;
  margin-right: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #181a2a;
  margin-bottom: 8px;
}
.tag:hover {
  background-color: rgba(32, 35, 56, 0.1);
}
.tag:active {
  background-color: rgba(32, 35, 56, 0.2);
  color: rgba(32, 36, 56, 0.8);
}
.cities {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 16px;
}
.city {
  box-sizing: border-box;
  padding: 0 35px 0 16px;
  display: inline-block;
  height: 40px;
  border-radius: 100px;
  background: rgba(32, 36, 56, 0.05) url("../images/x.svg") no-repeat top 12px right 12px;
  line-height: 40px;
  cursor: pointer;
  margin-right: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #181a2a;
}
.city:hover {
  background-color: rgba(32, 35, 56, 0.1);
}
.city:active {
  background-color: rgba(32, 35, 56, 0.2);
  color: rgba(32, 36, 56, 0.8);
}
.price__Row {
  display: flex;
  margin-left: -23px;
  margin-bottom: 8px;
  color: #202438;
  cursor: pointer;
}
.price__Row-unactive {
  color: rgba(32, 36, 56, 0.4);
}
.price__num {
  box-sizing: border-box;
  width: 23px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  text-align: right;
  padding: 16px 8px 0 0;
  color: rgba(32, 36, 56, 0.4);
}
.price__Item {
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: solid 1px rgba(32, 36, 56, 0.2);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: left;
  box-shadow: 1px 2px 6px 0 rgba(32, 36, 56, 0.12), 0 -1px 2px 0 rgba(32, 36, 56, 0.05);
}
.price__Item:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.price__head {
  width: 550px;
  margin-bottom: 11px;
}
.priceInfo {
  display: inline-block;
  width: 100px;
}
.priceInfo__head {
  font-size: 10px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 1px;
  color: rgba(32, 36, 56, 0.4);
  text-transform: uppercase;
}
.priceInfo__value {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: left;
}
.photos {
  width: 696px;
  height: 156px;
  overflow: hidden;
  margin-bottom: 16px;
}
.photos__wrap {
  width: 1000px;
}
.photos__photo {
  float: left;
  width: 156px;
  height: 156px;
  border-radius: 4px;
  margin-right: 24px;
  background: #ff5721;
  cursor: pointer;
}
.red,
.green {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #ff4355;
  margin-left: 8px;
}
.green {
  background: #43d167;
}
.editInfo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: #202438;
  margin-bottom: 9px;
}
.editInfo > div:first-child {
  border-right: 1px solid rgba(32, 36, 56, 0.1);
  margin-right: 48px;
}
.editInfo__cell {
  min-width: 254px;
}
.editInfo__cell > div {
  margin-bottom: 11px;
}
.editInfo__row {
  display: flex;
}
.editInfo__row > div:first-child {
  width: 128px;
}
.editInfo__head {
  font-size: 10px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 1px;
  color: rgba(32, 36, 56, 0.4);
  text-transform: uppercase;
}
.editInfo__city {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #1b68ff;
  text-decoration: none;
  border-bottom: 1px dashed rgba(16, 127, 255, 0.4);
}
.mComments {
  width: 876px;
  height: 140px;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 14px;
}
.mComments__header {
  background-color: #ffd320;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0 90px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  margin-bottom: 17px;
}
.mComments__head {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  text-align: left;
  color: #202438;
}
.mComments__row {
  display: flex;
  justify-content: space-between;
  padding: 0 90px;
}
.mComments__name {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.43;
  text-align: left;
  color: #202438;
  margin-bottom: 7px;
}
.mComments__date {
  font-size: 12px;
  line-height: 1.33;
  text-align: right;
  color: #202438;
}
.viewButtons {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #1b68ff;
  text-decoration: none;
}
.counter {
  display: inline-block;
  margin-left: 10px;
}
.addressRow {
  display: flex;
  margin-bottom: 18px;
}
.addressRow:last-child {
  margin-bottom: 0;
}
.addressRow > div {
  width: 50%;
}
.address__head {
  font-size: 10px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 1px;
  color: rgba(32, 36, 56, 0.4);
  text-transform: uppercase;
}
.address__txt {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: left;
}
.addressHideButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px dashed rgba(32, 36, 56, 0.4);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: rgba(32, 36, 56, 0.4);
  padding-right: 21px;
  margin: 8px 0 6px;
}
.addressHideButton:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 9px;
  width: 9px;
  height: 9px;
  border: 1px solid #c0c0c0;
  border-right: none;
  border-bottom: none;
  transform: rotate(45deg);
}
.mPhotos__Row {
  display: flex;
  margin-left: -31px;
  margin-bottom: 35px;
  color: #202438;
}
.mPhotos__count {
  width: 31px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  text-align: right;
  color: rgba(32, 36, 56, 0.4);
  padding-right: 8px;
}
.mPhotos__block {
  width: 100%;
  border-radius: 4px;
}
.mPhotos__img {
  width: 696px;
  height: 435px;
}
.mPhotos__smallImgs {
  height: 49px;
  margin-top: 16px;
  display: flex;
  justify-content: flex-start;
}
.mPhotos__mini {
  cursor: pointer;
  width: 74px;
  height: 49px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 8px;
}
.mPhotos__add {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  width: 74px;
  height: 49px;
  border: 1px solid #ff7642;
  border-radius: 3px;
  margin-right: 8px;
}
.mPhotos__add:before {
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  content: '';
  top: 16px;
  left: 29px;
  border: 2px solid #ff7642;
  border-top: none;
  border-left: none;
}
.mPhotos__add:after {
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  content: '';
  top: 22px;
  right: 29px;
  border: 2px solid #ff7642;
  border-bottom: none;
  border-right: none;
}
.tooltip__holder {
  position: relative;
  display: inline-block;
}
.tooltip__holder:hover > .tooltip {
  opacity: 1;
  visibility: visible;
  transition: opacity, 0.5s;
}
.tooltip {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  top: -5px;
  right: -340px;
  box-sizing: border-box;
  padding: 14px 22px 16px 10px;
  display: block;
  width: 328px;
  height: 90px;
  border-radius: 5px;
  background-color: rgba(32, 36, 56, 0.8);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: left;
  color: #fff;
}
.tooltip:before {
  content: "";
  position: absolute;
  top: 15px;
  left: -20px;
  border: 10px solid;
  border-color: transparent rgba(32, 36, 56, 0.8) transparent transparent;
}
.fixDates__row {
  display: flex;
  justify-content: flex-start;
}
.fixDates__row > div {
  margin-right: 24px;
}
.splitter {
  display: inline-block;
  margin: 0 5px;
}
