@import "mixins";
// Vars
div.-inline {
  display: inline-block;
  margin-right: 19px;

  &:nth-child(4n) {
    margin-right: 0;
  }
}

.fieldset {
  position: relative;
  border: 0;
  border-radius: 8px;
  background-color: #fff;
  padding: 28px 90px 24px;
  margin-top: 16px;
  //margin-bottom: 16px;
}

.label {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 14px;
  color: rgba(32, 36, 56, 0.4);
  margin-bottom: 8px;
}

.input {
  box-sizing: border-box;
  padding: 25px 15px 21px;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  border-radius: 4px;
  border: solid 1px rgba(32, 36, 56, 0.2);
  height: 48px;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #202438;

  &[disabled]{
    background-color: rgba(32, 36, 56, 0.05);
  }

  &-price {
    margin-bottom: 8px;
  }

  &-mid {
    width: @midInputsWidth;
  }

  &-short {
    width: @shortInputsWidth;
  }

  &-big {
    width: @bigInputsWidth;
  }

  &-ok {
    border: solid 1px #43d167;
  }

  &-category {
    width: 516px;
  }

  &::placeholder {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: rgba(32, 36, 56, 0.4);
  }

  &:hover {
    .inputsHovers
  }

  &:focus {
    .inputFocus
  }
}

.select {
  box-sizing: border-box;
  padding: 0 16px;
  margin-bottom: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  border-radius: 4px;
  border: solid 1px rgba(32, 36, 56, 0.2);
  height: 48px;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #202438;

  &-big {
    width: @bigInputsWidth;
  }

  &-mid {
    width: @midInputsWidth;
  }

  &:hover {
    .inputsHovers
  }

  &:focus {
    .selectFocus
  }
}

.option {
  width: 233px;
  height: 56px;
}

select::-ms-expand {
  display: none;
}

option[disabled] {
  color: rgba(32, 36, 56, 0.4);
}

.formSplitter {
  display: flex;

  &__left {
    width: 50%;
  }

  &__right {
    padding-left: 25px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 1.4;
    color: rgba(32, 36, 56, 0.4);

    &-uppercase {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 10px;
    }
  }
}

.textarea {
  box-sizing: border-box;
  padding: 17px 25px 15px 16px;
  width: @bigInputsWidth;
  border-radius: 4px;
  border: solid 1px rgba(32, 36, 56, 0.2);
  resize: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #202438;
  margin-bottom: 16px;

  &-big {
    height: 492px;
  }

  &-small {
    height: 112px;
    resize: vertical;
  }

  &:hover {
    .inputsHovers
  }

  &:focus {
    .textareaFocus
  }

  &-description {
    height: 312px;
  }
}

// Checkboxes

input[type='checkbox'] {
  display: none;

  & + .checkboxLabel {
    display: block;
    height: 24px;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    text-align: left;
    color: #202438;
    margin-bottom: 16px;
    cursor: pointer;
    outline: none;
    font-size: 14px;

    & > span {
      box-sizing: border-box;
      display: inline-block;
      text-align: center;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      border: solid 1px rgba(32, 36, 56, 0.2);
      cursor: pointer;
      padding-top: 2px;
      margin-right: 8px;
      vertical-align: middle;
      margin-top: -5px;
    }

    &-inline {
      display: inline-block;
      margin-right: 34px;
    }

    &:hover > span {
      border: solid 1px rgba(32, 36, 56, 0.4);
    }
    &:active > span {
      background-color: rgba(32, 35, 56, 0.1);
      border: solid 1px rgba(32, 35, 56, 0.1);
    }
  }


  &:checked {
    & + .checkboxLabel {
      color: #202438;

      & > span {
        background: #1b68ff;
        border: none;
        position: relative;
      }

      &:hover > span {
        background-color: #0048ff;
        box-shadow: 0 2px 4px 0 rgba(0, 72, 255, 0.58);
      }

      & > span::after {
        display: block;
        content: "";
        position: absolute;
        top: 15%;
        left: 38%;
        width: .4em;
        height: .8em;
        border: 2px solid #fff;
        border-top: none;
        border-left: none;
        transform: rotate(45deg);
      }
    }
  }
}

.innerButton {
  display: inline-block;
  cursor: pointer;
  height: 32px;
  border-radius: 100px;
  background-color: rgba(32, 36, 56, 0.05);
  text-align: center;
  line-height: 32px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #202438;
  margin-bottom: 10px;
  padding: 0 16px;
  margin-top: 10px;

  &-right {
    float: right;
  }
  
  &-left {
    float: left;
  }

  &:hover {
    background-color: rgba(32, 35, 56, 0.1);
  }

  &:active {
    background-color: rgba(32, 35, 56, 0.2);
    color: rgba(32, 36, 56, 0.8);
  }
}

.buttons {
  float: right;
  width: 418px;
  margin-right: 73px;
}

.submit {
  float: left;
  border: none;
  outline: none;
  width: 195px;
  height: 48px;
  border-radius: 100px;
  background: url("../images/up.png") no-repeat top 12px right 24px, #ff7642;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 8px;
  cursor: pointer;
  margin-top: 16px;
  padding-left: 24px;
  text-align: left;

  &-emptyForm {
    float: right;
    margin-right: 16px;
  }

  &:hover {
    background-color: #ff5721;
    box-shadow: 0 2px 4px 0 #ff5721;
  }

  &:active {
    background-color: #e86d41;
  }
}

.preview {
  float: left;
  border: none;
  outline: none;
  width: 195px;
  height: 48px;
  border-radius: 100px;
  background: url("../images/prev.png") no-repeat top 12px right 24px, rgba(32, 36, 56, 0.6);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
  margin-right: 16px;
  margin-bottom: 8px;
  cursor: pointer;
  margin-top: 16px;
  padding-left: 24px;
  text-align: left;

  &:hover {
    background-color: rgba(32, 35, 56, 0.8);
  }

  &:active {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(32, 35, 56, 0.6);
  }
}
// Вкладки адрес / координаты
.tabs {
  & > * {
    cursor: pointer;
  }
  
  .label__tab {
    float: left;
    color: rgba(32, 36, 56, 0.2);
    margin-right: 16px;

    &-active {
      color: rgba(32, 36, 56, 0.4);
    }
  }
}

.innerTabs {
  & > div {
    display: none;
  }

  .input-active {
    display: block;
  }
}