// Mixins
@import "vars";
.inputFocus () {
  border: 2px solid @focusColor;
  padding: 0 14px 0;
  outline: none;
}

.selectFocus () {
  border: 2px solid @focusColor;
  padding: 0 15px;
  outline: none;
}

.textareaFocus () {
  border: 2px solid @focusColor;
  padding: 16px 24px 14px 15px;
  outline: none;
}

.inputsHovers () {
  border: solid 1px rgba(32, 35, 56, 0.4);
}