@import "vars";

* {
  margin: 0;
  padding: 0;
}

// Defaults
html,
body {
  min-height: 100%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 30px;
  line-height: 45px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 26px;
  font-weight: 800;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  color: #202438;
  margin: 13px 0 16px;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  color: #202438;
  margin-bottom: 8px;
}

//nav {
//  height: 56px;
//}

.ungroup {
  color: rgba(32, 36, 56, 0.4);
}

ul {
  list-style: none;
}

.clr {
  clear: both;
}

// Links

.linkButton {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: #1b68ff;
  text-decoration: none;

  &:hover {
    color: #ff5721;
    text-decoration: underline;
  }

  &-price {
    //display: block;
    margin-bottom: 26px;
    margin-right: 8px;

    &-hidden {
      display: none;
    }
  }

  &-hide {
    margin-bottom: 26px;
    cursor: pointer;
  }

  &-comments {
    display: inline-block;
    margin-bottom: 16px;
  }
}

// Main wrapper

.wrapper {
  display: flex;
  min-height: 100%;
  min-width: @leftMenuWidth+@innerWidth;
}

.innerWrapper {
  width: @innerWidth;
  margin: 0 auto;
}

// Left menu

.leftMenu {
  //position: fixed;
  box-sizing: border-box;
  width: @leftMenuWidth;
  background-color: #202438;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  line-height: 18px;
  z-index: 1000;
  min-height: 100%;

  &__logo {
    width: 190px;
    height: 56px;
    background: url("../images/logo.svg"), no-repeat;
    margin-bottom: 32px;
  }

  & > ul {
    margin-left: 16px;

    & > li {
      margin-bottom: 24px;
    }
  }

  &__link {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #ff5721;
      text-decoration: underline;
    }
  }
}

.content {
  min-height: 100%;
  width: 100%;
  background-color: rgba(32, 36, 56, 0.05);
  padding-bottom: 48px;
}

.header {
  padding-top: 40px;
  margin-bottom: 16px;
  box-sizing: border-box;
  width: 100%;
  //height: 144px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);

  &-fixed {
    //position: fixed;
    //top: -100px;
    z-index: 999;
    background: #fff;
    opacity: 0.9;
  }
}

.topMenu {
  display: flex;
  height: 56px;
  justify-content: space-between;
  align-items: center;

  & li {
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: rgba(32, 36, 56, 0.4);
  }
}

.contractNumber,
.counts {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  text-align: left;
  color: #202438;
}

.contractNumber > div {
  cursor: pointer;
  display: inline-block;
  color: #1b68ff;
  border-bottom: 1px solid rgba(16, 127, 255, 0.3);
}

.comissionBlock {
  display: flex;
  padding-top: 19px;
  padding-bottom: 27px;

  & > div {
    margin-right: 14px;
  }
}

.info {
  display: inline-block;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  color: rgba(32, 36, 56, 0.6);

  &-submit {
    float: right;
    clear: both;
    width: 228px;
    margin-right: 52px;
  }
}

.mapBlock {
  width: 336px;
  height: 336px;
  border-radius: 4px;
  border: solid 1px rgba(32, 36, 56, 0.2);
}

// Тэги категорий
.cats {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.tag {
  box-sizing: border-box;
  padding: 0 35px 0 16px;
  display: inline-block;
  height: 40px;
  border-radius: 100px;
  background: rgba(32, 36, 56, 0.05) url("../images/x.svg") no-repeat top 12px right 12px;
  line-height: 40px;
  cursor: pointer;
  margin-right: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #181a2a;
  margin-bottom: 8px;

  &:hover {
    background-color: rgba(32, 35, 56, 0.1);
  }

  &:active {
    background-color: rgba(32, 35, 56, 0.2);
    color: rgba(32, 36, 56, 0.8);
  }
}

// Тэги городов
.cities {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.city {
  box-sizing: border-box;
  padding: 0 35px 0 16px;
  display: inline-block;
  height: 40px;
  border-radius: 100px;
  background: rgba(32, 36, 56, 0.05) url("../images/x.svg") no-repeat top 12px right 12px;
  line-height: 40px;
  cursor: pointer;
  margin-right: 8px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #181a2a;

  &:hover {
    background-color: rgba(32, 35, 56, 0.1);
  }

  &:active {
    background-color: rgba(32, 35, 56, 0.2);
    color: rgba(32, 36, 56, 0.8);
  }
}

// Price Block
.price {
  &__Row {
    display: flex;
    margin-left: -23px;
    margin-bottom: 8px;
    color: #202438;
    cursor: pointer;

    &-unactive {
      color: rgba(32, 36, 56, 0.4);
    }
  }

  &__num {
    box-sizing: border-box;
    width: 23px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    text-align: right;
    padding: 16px 8px 0 0;
    color: rgba(32, 36, 56, 0.4);
  }
  &__Item {
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: solid 1px rgba(32, 36, 56, 0.2);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: left;
    box-shadow: 1px 2px 6px 0 rgba(32, 36, 56, 0.12),
      0 -1px 2px 0 rgba(32, 36, 56, 0.05);

    &:hover {
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    }
  }

  &__head {
    width: 550px;
    margin-bottom: 11px;
  }
}

.priceInfo {
  display: inline-block;
  width: 100px;

  &__head {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 1px;
    color: rgba(32, 36, 56, 0.4);
    text-transform: uppercase;
  }

  &__value {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    text-align: left;
  }
}

.photos {
  width: @bigInputsWidth;
  height: 156px;
  overflow: hidden;
  margin-bottom: 16px;

  &__wrap {
    width: 1000px;
  }

  &__photo {
    float: left;
    width: 156px;
    height: 156px;
    border-radius: 4px;
    margin-right: 24px;
    background: #ff5721;
    cursor: pointer;
  }
}

// Точки в полях форм
.red, .green {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #ff4355;
  margin-left: 8px;
}

.green {
  background: #43d167;
}

.editInfo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: #202438;
  margin-bottom: 9px;

  & > div:first-child {
    border-right: 1px solid rgba(32, 36, 56, 0.1);
    margin-right: 48px;
  }

  &__cell {
    min-width: 254px;

    & > div {
      margin-bottom: 11px;
    }
  }

  &__row {
    display: flex;

    & > div:first-child {
      width: 128px;
    }
  }

  &__head {
    font-size: 10px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 1px;
    color: rgba(32, 36, 56, 0.4);
    text-transform: uppercase;
  }

  &__city {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #1b68ff;
    text-decoration: none;
    border-bottom: 1px dashed rgba(16, 127, 255, 0.4);
  }
}

.mComments {
  width: 876px;
  height: 140px;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 14px;

  &__header {
    background-color: #ffd320;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0 90px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    margin-bottom: 17px;
  }

  &__head {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    text-align: left;
    color: #202438;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
  }

  &__name {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.43;
    text-align: left;
    color: #202438;
    margin-bottom: 7px;
  }

  &__date {
    font-size: 12px;
    line-height: 1.33;
    text-align: right;
    color: #202438;
  }
}

.viewButtons {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #1b68ff;
  text-decoration: none;
}

.counter {
  display: inline-block;
  margin-left: 10px;
}

.addressRow {
  display: flex;
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  & > div {
    width: 50%;
  }
}

.address__head {
  font-size: 10px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 1px;
  color: rgba(32, 36, 56, 0.4);
  text-transform: uppercase;
}

.address__txt {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: left;
}

.addressHideButton {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px dashed rgba(32, 36, 56, 0.4);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.43;
  color: rgba(32, 36, 56, 0.4);
  padding-right: 21px;
  margin: 8px 0 6px;

  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 9px;
    width: 9px;
    height: 9px;
    border: 1px solid #c0c0c0;
    border-right: none;
    border-bottom: none;
    transform: rotate(45deg);
  }
}

// Photos // Managers
.mPhotos {
  &__Row {
    display: flex;
    margin-left: -31px;
    margin-bottom: 35px;
    color: #202438;
  }

  &__count {
    width: 31px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    text-align: right;
    color: rgba(32, 36, 56, 0.4);
    padding-right: 8px;
  }

  &__block {
    width: 100%;
    border-radius: 4px;
  }

  &__img {
    width: 696px;
    height: 435px;
  }

  &__smallImgs {
    height: 49px;
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
  }

  &__mini {
    cursor: pointer;
    width: 74px;
    height: 49px;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 8px;
  }

  &__add {
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    width: 74px;
    height: 49px;
    border: 1px solid #ff7642;
    border-radius: 3px;
    margin-right: 8px;

    &:before {
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      content: '';
      top: 16px;
      left: 29px;
      border: 2px solid #ff7642;
      border-top: none;
      border-left: none;
    }

    &:after {
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      content: '';
      top: 22px;
      right: 29px;
      border: 2px solid #ff7642;
      border-bottom: none;
      border-right: none;
    }
  }
}

.tooltip__holder {
  position: relative;
  display: inline-block;
  //border: 1px solid #000;

  &:hover > .tooltip {
    opacity: 1;
    visibility: visible;
    transition: opacity, 0.5s;
  }
}

.tooltip {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  top: -5px;
  right: -340px;
  box-sizing: border-box;
  padding: 14px 22px 16px 10px;
  display: block;
  width: 328px;
  height: 90px;
  border-radius: 5px;
  background-color: rgba(32, 36, 56, 0.8);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: left;
  color: #fff;

  &:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -20px;
    border: 10px solid;
    border-color: transparent rgba(32, 36, 56, 0.8) transparent transparent;
  }
}

.fixDates {

  &__row {
    display: flex;
    justify-content: flex-start;

    & > div {
      margin-right: 24px;
    }
  }
}

.splitter {
  display: inline-block;
  margin: 0 5px;
}