include pug/vars
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title CRM // Biglion
        //build:css css/style.min.css
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/forms.css")
        link(rel="stylesheet", href="css/fonts.css")
        link(rel="stylesheet", href="css/dropdown.css")
        link(rel="stylesheet", href="css/metroLines.css")
        //endbuild
        link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU")
    body
        .wrapper
            .leftMenu
                .leftMenu__logo
                ul
                    for name in leftMenu
                        li
                            a.leftMenu__link(href='#') #{name['description']}
            .content
                header.header#header
                    .innerWrapper
                        h1 Редактирование акции
                        div.editInfo
                            div.editInfo__cell
                                div.editInfo__row
                                    div
                                        div.editInfo__head id
                                        div DO1209099
                                    div
                                    div
                                        div.editInfo__head на сайте
                                        div 365 дней
                                    div
                                div
                                    div.editInfo__head статус
                                    div Подтверждена партнером
                            div.editInfo__cell
                                div
                                    div.editInfo__head редактирует
                                    div Екатерина Семенищева
                                div
                                    div.editInfo__head менеджер
                                    div Евгения Кухта, @ekukhta
                            div.editInfo__cell
                                div
                                    div.editInfo__head площадка
                                    div Biglion
                                div
                                    div.editInfo__head город менеджера
                                    div
                                        a(href="#").editInfo__city Москва
                        nav
                            ul.topMenu#topMenu
                                for name in headerMenuBgln
                                    li
                                        a.topMenu__link(href='#' + name.anchor) #{name.name}
                .innerWrapper#rContent
                    form
                        div.mComments
                            div.mComments__header
                                div.mComments__head Комментарий менеджера
                                div
                                    a(href='#').viewButtons Посмотреть все
                            div.mComments__row
                                div
                                    div.mComments__name Евгения Кухта
                                    div.mComments__txt
                                        .
                                            Добавьте, пожалуйста, фотографии заведения.
                                div.mComments__date 31.01.2017 17:05
                        fieldset.fieldset#conditionsBlock
                            h2 Условия
                            label.label(for='condName') Название акции
                            textarea.textarea#condName
                                .
                                    До 10 сеансов массажа, пилинг с обертыванием и SPA-программы на выбор
                                    в «Массажном салоне на Пятницкой»
                            label.label(for='nameForList')
                                div Название для списка
                                div
                                    a(href='#').viewButtons Посмотреть
                                    div.counter 0/75
                            input(type='text' name='' maxlength='75').input.input-big#nameForList
                            label.label(for='nameForMailing')
                                div Название для рассылки
                                div
                                    a(href='#').viewButtons Посмотреть
                                    div.counter 0/40
                            input(type='text' name='' maxlength='40').input.input-big#nameForMailing
                            label.label(for='nameForLink')
                                div Название для ссылки
                                div
                                    div.counter 0/40
                            input(type='text' name='' maxlength='40').input.input-big#nameForLink
                            label.label(for='conditions')
                                div Условия
                                div
                                    a(href='#').viewButtons Код условия для сайта партнера
                            textarea.textarea.textarea-big#conditions
                                .
                                    В стоимость купона входят 11 видов массажа на выбор (массаж можно чередовать):
                                    — массаж головы и шеи,
                                    — массаж спины и ног,
                                    — массаж шейно-воротниковой зоны,
                                    — спортивный массаж,
                                    — классический массаж,
                                    — общий массаж,
                                    — процедура «Бразильская попка»,
                                    — процедура «Бразильские ножки»,
                                    — антицеллюлитный массаж,
                                    — креольский массаж,
                                    — баночный массаж.
                                    Виды скрабов:
                                    — фруктовый,
                                    — морской,
                                    — медовый,
                                    — водорослевый.
                                    Виды обертывания:
                                    — шоколадное,
                                    — фруктовое,
                                    — медовое,
                                    — горячее,
                                    — криообертывание (холодное обертывание).
                            div.formSplitter
                                div.formSplitter__left
                                    input(type='checkbox')#print
                                    label.checkboxLabel(for='print' tabindex='0')
                                        span
                                        .
                                            Требуется распечатать купон
                                    input(type='checkbox')#sms
                                    label.checkboxLabel(for='sms' tabindex='0')
                                        span
                                        .
                                            Действует СМС-купон
                                    input(type='checkbox' checked=)#delivery
                                    label.checkboxLabel(for='delivery' tabindex='0')
                                        span
                                        .
                                            Доставка входит в стоимость
                                    input(type='checkbox')#ownDelivery
                                    label.checkboxLabel(for='ownDelivery' tabindex='0')
                                        span
                                        .
                                            Самовывоз
                                div.formSplitter__right
                                    input(type='checkbox' checked)#pre
                                    label.checkboxLabel(for='pre' tabindex='0')
                                        span
                                        .
                                            Предварительная запись
                                    input(type='checkbox' checked)#consult
                                    label.checkboxLabel(for='consult' tabindex='0')
                                        span
                                        .
                                            Консультация врача
                                    input(type='checkbox')#adultOnly
                                    label.checkboxLabel(for='adultOnly' tabindex='0')
                                        span
                                        .
                                            Только для совершеннолетних
                            label.label(for='price') Ссылка на сайт или страницу в соц. сетях
                            input.input.input-big.input-price(placeholder='https://')#price
                            a.linkButton.linkButton-price(href='#')#priceFile massage_price.pdf
                            div.linkButton.linkButton-hide#hidePrice Скрыть
                            label.label(for='socialSite') Сайт или страница в соц. сетях
                            input.input.input-big(placeholder='https://')#socialSite
                            label.label(for='description') Описание
                            textarea.textarea.textarea-description#description
                                .
                                    Общий массаж — это отличная профилактическая процедура для каждого современного человека. Цель такого массажа — релаксация, снятие зажимов с мышц и их расслабление.

                                    Массаж может способствовать исчезновению головных болей и хронической усталости, дарит легкость и хорошее настроение, помогает восстановить силу мышц и повысить их работоспособность, улучшает лимфо- и кровообращение.

                                    Общий классический массаж тела особенно рекомендуется для людей, которые ведут малоактивный образ жизни и большую часть времени посвящают работе. Процедура поможет держать мышцы в тонусе, сохранить осанку и здоровье спины, а также подарит вам отличное самочувствие и заряд бодрости!

                                    Антицеллюлитный массаж — это способ борьбы с проблемными зонами. Он поможет вам избавиться от надоедливой «апельсиновой корки» и значительно улучшить свой внешний вид!
                        fieldset.fieldset#share
                            h2 Размещение акции
                            label.label(for="category") Категория и подкатегория
                            input(type='text').input.input-category#category
                            div.cats
                                div.tag Красота/SPA, массаж, уход за лицом
                                div.tag Рестораны/Доставка еды
                            label.label(for="city") Города размещения
                            input(type="checkbox")#allCities
                            label.checkboxLabel(for="allCities")
                                span
                                .
                                    Все города
                            div.formSplitter
                                div.formSplitter__left
                                    label.label(for="city") Города размещения
                                    input.input.input-mid(type="text")#city
                                    div.cities
                                        div.city Москва
                                        div.city Москва ***
                                div.formSplitter__right
                                    label.label(for="exCity") Кроме городов
                                    input.input.input-mid(type="text" disabled)#exCity
                                    div.cities
                                        div.city Москва
                                        div.city Москва ***
                            div
                                div.-inline
                                    label.label(for="startEvent") Дата старта
                                    input.input.input-short(type="text" placeholder="ДД.ММ.ГГГГ" maxlength="10")#startEvent
                                div.-inline
                                    label.label(for="endEvent") Дата завершения
                                    input.input.input-short(type="text" placeholder="ДД.ММ.ГГГГ" maxlength="10")#endEvent
                                div.-inline
                                    label.label(for="days") Срок размещения
                                    input.input.input-short(type="text" placeholder="Дней")#days
                            input(type="checkbox")#stubAct
                            label.checkboxLabel(for="stubAct")
                                span
                                .
                                    Акция-заглушка
                            label.label(for="pageLink") Ссылка на страницу
                            div.formSplitter
                                div.formSplitter__left
                                    input.input.input-mid(type="text")#pageLink
                                div.formSplitter__right
                                    input(type="checkbox")#mailingOn
                                    label.checkboxLabel(for="mailingOn")
                                        span
                                        .
                                            Включить в рассылку
                            input(type="checkbox")#holidayAct
                            label.checkboxLabel(for="holidayAct")
                                span
                                .
                                    Праздничная акция
                        fieldset.fieldset#coupons
                            h2 Условия действия купонов
                            div
                                div.-inline
                                    label.label(for="startCoupon") Купон действует с
                                    input.input.input-short(type="text" value="01.02.2017")#startCoupon
                                div.-inline
                                    label.label(for="endCoupon") по
                                    input.input.input-short(type="text" value="01.05.2017")#endCoupon
                                div.-inline
                                    label.label(for="couponLink") Количество дней
                                    input.input.input-short(type="text" value="90")#couponLink
                                div.-inline
                                    label.label(for="couponMax") Максимум купонов
                                    input.input.input-short(type="text")#couponMax
                            div.formSplitter
                                div.formSplitter__left
                                    input(type="checkbox")#discountCoupon
                                    label.checkboxLabel(for="discountCoupon")
                                        span
                                        .
                                            Купон на скидку
                                    input(type="checkbox")#pinReport
                                    label.checkboxLabel(for="pinReport")
                                        span
                                        .
                                            Сообщить ПИН-код заранее
                                div.formSplitter__right
                                    input(type="checkbox")#withoutPIN
                                    label.checkboxLabel(for="withoutPIN")
                                        span
                                        .
                                            Не требовать ввода ПИН-кода
                                    input(type="checkbox")#partnerCoupNums
                                    label.checkboxLabel(for="partnerCoupNums")
                                        span
                                        .
                                            Партнерские номера купонов
                        fieldset.fieldset#pricesBlock
                            h2 Цены
                            h3 Массаж на выбор
                            div.price__Row
                                div.price__num 1
                                div.price__Item
                                    div.price__head
                                        .
                                            1 сеанс массажа на выбор в «Массажном салоне на Пятницкой»  (455 руб. вместо 1 300 руб.)
                                    div.priceInfo
                                        div.priceInfo__head Цена
                                        div.priceInfo__value 455
                                    div.priceInfo
                                        div.priceInfo__head Скидка
                                        div.priceInfo__value 65%
                                    div.priceInfo
                                        div.priceInfo__head До скидки
                                        div.priceInfo__value 1300
                                    div.priceInfo
                                        div.priceInfo__head Куплено
                                        div.priceInfo__value 0
                            div.price__Row
                                div.price__num 2
                                div.price__Item
                                    div.price__head
                                        .
                                            5 сеансов массажа на выбор в «Массажном салоне на Пятницкой» (1 950 руб. вместо 6 500 руб.)
                                    div.priceInfo
                                        div.priceInfo__head Цена
                                        div.priceInfo__value 1950
                                    div.priceInfo
                                        div.priceInfo__head Скидка
                                        div.priceInfo__value 70%
                                    div.priceInfo
                                        div.priceInfo__head До скидки
                                        div.priceInfo__value 6500
                                    div.priceInfo
                                        div.priceInfo__head Куплено
                                        div.priceInfo__value 0
                                    div.priceInfo
                                        div.priceInfo__head Действует до
                                        div.priceInfo__value 17.12.2016
                                    div.priceInfo
                                        div.priceInfo__head Максимум
                                        div.priceInfo__value 16
                            div.price__Row
                                div.price__num 3
                                div.price__Item
                                    div.price__head
                                        .
                                            10 сеансов массажа на выбор в «Массажном салоне на Пятницкой» (3 510 руб. вместо 13 000 руб.)
                                    div.priceInfo
                                        div.priceInfo__head Цена
                                        div.priceInfo__value 3150
                                    div.priceInfo
                                        div.priceInfo__head Скидка
                                        div.priceInfo__value 70%
                                    div.priceInfo
                                        div.priceInfo__head До скидки
                                        div.priceInfo__value 13000
                                    div.priceInfo
                                        div.priceInfo__head Куплено
                                        div.priceInfo__value 0
                            h3.groups Антицеллюлитный массаж
                            div.price__Row
                                div.price__num 4
                                div.price__Item
                                    div.price__head
                                        .
                                            3 сеанса ручного антицеллюлитного массажа с глубокой проработкой «проблемных зон», 3 сеанса обертывания «проблемных зон» и 3 сеанса массажа шейно-воротниковой зоны в «Массажном салоне на Пятницкой» (1 800 руб. вместо 18 000 руб.)
                                    div.priceInfo
                                        div.priceInfo__head Цена
                                        div.priceInfo__value 1800
                                    div.priceInfo
                                        div.priceInfo__head Скидка
                                        div.priceInfo__value 90%
                                    div.priceInfo
                                        div.priceInfo__head До скидки
                                        div.priceInfo__value 18000
                                    div.priceInfo
                                        div.priceInfo__head Куплено
                                        div.priceInfo__value 0
                                    div.priceInfo
                                        div.priceInfo__head Действует до
                                        div.priceInfo__value 17.12.2016
                                    div.priceInfo
                                        div.priceInfo__head Максимум
                                        div.priceInfo__value 16
                            div.price__Row
                                div.price__num 5
                                div.price__Item
                                    div.price__head
                                        .
                                            5 сеансов ручного антицеллюлитного массажа с глубокой проработкой «проблемных зон», 5 сеансов обертывания «проблемных зон» и 5 сеансов массажа шейно-воротниковой зоны в «Массажном салоне на Пятницкой» (2 700 руб. вместо 30 000 руб.)
                                    div.priceInfo
                                        div.priceInfo__head Цена
                                        div.priceInfo__value 2700
                                    div.priceInfo
                                        div.priceInfo__head Скидка
                                        div.priceInfo__value 91%
                                    div.priceInfo
                                        div.priceInfo__head До скидки
                                        div.priceInfo__value 30000
                                    div.priceInfo
                                        div.priceInfo__head Куплено
                                        div.priceInfo__value 0
                            div.price__Row.price__Row-unactive
                                div.price__num 6
                                div.price__Item
                                    div.price__head
                                        .
                                            7 сеансов ручного антицеллюлитного массажа с глубокой проработкой «проблемных зон», 7 сеансов обертывания «проблемных зон» и 7 сеансов массажа шейно-воротниковой зоны в «Массажном салоне на Пятницкой» (3 360 руб. вместо 42 000 руб.)
                                    div.priceInfo
                                        div.priceInfo__head Цена
                                        div.priceInfo__value 455
                                    div.priceInfo
                                        div.priceInfo__head Скидка
                                        div.priceInfo__value 65%
                                    div.priceInfo
                                        div.priceInfo__head До скидки
                                        div.priceInfo__value 1300
                                    div.priceInfo
                                        div.priceInfo__head Куплено
                                        div.priceInfo__value 0
                                    div.priceInfo
                                        div.priceInfo__head Действует до
                                        div.priceInfo__value 01.12.2016
                                    div.priceInfo
                                        div.priceInfo__head Максимум
                                        div.priceInfo__value 16
                            div.price__Row
                                div.price__num 7
                                div.price__Item
                                    div.price__head
                                        .
                                            10 сеансов ручного антицеллюлитного массажа с глубокой проработкой «проблемных зон», 7 сеансов обертывания «проблемных зон» и 7 сеансов массажа шейно-воротниковой зоны в «Массажном салоне на Пятницкой» (4 200 руб. вместо 60 000 руб.)
                                    div.priceInfo
                                        div.priceInfo__head Цена
                                        div.priceInfo__value 4200
                                    div.priceInfo
                                        div.priceInfo__head Скидка
                                        div.priceInfo__value 93%
                                    div.priceInfo
                                        div.priceInfo__head До скидки
                                        div.priceInfo__value 60000
                                    div.priceInfo
                                        div.priceInfo__head Куплено
                                        div.priceInfo__value 0
                            h3.groups.ungroup Нет группы
                            div.price__Row
                                div.price__num 8
                                div.price__Item
                                    div.price__head
                                        .
                                            1 сеанс массажа на выбор и пилинг с обертыванием в «Массажном салоне на Пятницкой» (960 руб. вместо 4 800 руб.)
                                    div.priceInfo
                                        div.priceInfo__head Цена
                                        div.priceInfo__value 960
                                    div.priceInfo
                                        div.priceInfo__head Скидка
                                        div.priceInfo__value 65%
                                    div.priceInfo
                                        div.priceInfo__head До скидки
                                        div.priceInfo__value 4800
                                    div.priceInfo
                                        div.priceInfo__head Куплено
                                        div.priceInfo__value 0
                            div.price__Row
                                div.price__num 15
                                div.price__Item
                                    div.price__head
                                        .
                                            5 сеансов массажа на выбор и пилинг с обертыванием в «Массажном салоне на Пятницкой» (2 160 руб. вместо 24 000 руб.)
                                    div.priceInfo
                                        div.priceInfo__head Цена
                                        div.priceInfo__value 2160
                                    div.priceInfo
                                        div.priceInfo__head Скидка
                                        div.priceInfo__value 70%
                                    div.priceInfo
                                        div.priceInfo__head До скидки
                                        div.priceInfo__value 24000
                                    div.priceInfo
                                        div.priceInfo__head Куплено
                                        div.priceInfo__value 0
                            div.innerButton.innerButton-right  Добавить цену
                        fieldset.fieldset#partnerBlock
                            h2 Партнер
                            label.label(for='partner') Название партнера
                            input.input.input-big.input-ok(type='text' value='Массажный салон на Пятницкой')#partner
                            label.label(for='legalEntity') Юридическое лицо
                            select.select.select-big.dropdown-ok#legalEntity
                                for name in legalEntity
                                    option #{name}
                        fieldset.fieldset#placesBlock
                            h2 Адреса
                            label.label(for="placeName") Название места
                            input.input.input-big.input-ok(type="text" value="Массажный салон на Пятницкой")#placeName
                            div.price__Row
                                div.price__num 1
                                div.price__Item
                                    div.addressRow
                                        div
                                            div.address__head адрес
                                            div.address__txt г. Москва, Центральный пр. Хорошёвского Серебрянного Бора, д. 5/1
                                        div
                                            div.address__head метро
                                            div.metroMarks
                                                div.lineDot._9
                                            .
                                                Менделеевская
                                    div.addressRow
                                        div
                                            div.address__head телефон
                                            div.address__txt +7 (495) 728-56-02,
                                                br
                                                .
                                                    +7 (495) 342-67-78,
                                                br
                                                .
                                                    +7 (499) 426-08-30
                                        div
                                            div.address__head время работы
                                            div.address__txt пн-чт: с 15:00 до 02:00,
                                                br
                                                .
                                                    пт: с 15:00 до 18:00,
                                                br
                                                .
                                                    вс: с 20:00 до 02:00
                            div.price__Row
                                div.price__num 2
                                div.price__Item
                                    div.addressRow
                                        div
                                            div.address__head адрес
                                            div.address__txt г. Москва, ул. Валовая, д. 8/10
                                        div
                                            div.address__head метро
                                            div.metroMarks
                                                div.lineDot._2
                                                div.lineDot._5
                                            .
                                                Павелецкая
                                    div.addressRow
                                        div
                                            div.address__head телефон
                                            div.address__txt +7 (916) 972-69-66,
                                                br
                                                .
                                                    +7 (967) 169-67-54
                                        div
                                            div.address__head время работы
                                            div.address__txt ежедневно, 10:00–23:00
                            div.price__Row
                                div.price__num 3
                                div.price__Item
                                    div.addressRow
                                        div
                                            div.address__head адрес
                                            div.address__txt г. Санкт-Петербург,
                                                br
                                                .
                                                    ул. Краснобогатырская, д. 13
                                        div
                                            div.address__head метро
                                            div.metroMarks
                                                div.lineDot._1
                                            .
                                                Менделеевская
                                    div.addressRow
                                        div
                                            div.address__head телефон
                                            div.address__txt +7 (916) 972-69-66
                                        div
                                            div.address__head время работы
                                            div.address__txt ежедневно, 10:00–23:00
                            div.addressHideButton Скрытые адреса
                            div.price__Row.price__Row-unactive
                                div.price__num 3
                                div.price__Item
                                    div.addressRow
                                        div
                                            div.address__head адрес
                                            div.address__txt г. Санкт-Петербург,
                                                br
                                                .
                                                    ул. Краснобогатырская, д. 13
                                        div
                                            div.address__head метро
                                            div.metroMarks
                                                div.lineDot._1
                                            .
                                                Менделеевская
                                    div.addressRow
                                        div
                                            div.address__head телефон
                                            div.address__txt +7 (916) 972-69-66
                                        div
                                            div.address__head время работы
                                            div.address__txt ежедневно, 10:00–23:00
                            div.innerButton.innerButton-right Добавить адрес
                        fieldset.fieldset#photos
                            h2 Фотографии
                            div.mPhotos__Row
                                div.mPhotos__count 1/7
                                div.mPhotos__block
                                    div
                                        img(src="images/gallery/big.png").mPhotos__img
                                    div.mPhotos__smallImgs
                                        div.mPhotos__add
                                        div.mPhotos__mini
                                            img(src="images/gallery/1_min.png")
                                        div.mPhotos__mini
                                            img(src="images/gallery/2_min.png")
                                        div.mPhotos__mini
                                            img(src="images/gallery/3_min.png")
                                        div.mPhotos__mini
                                            img(src="images/gallery/4_min.png")
                            label.label(for="photoID") ID фотографии из фотобанка
                            div.tooltip__holder
                                input(type="text").input.input-mid#photoID
                                div.tooltip
                                    .
                                        Указывайте ID, если загружаете фотографию из фотобанка с логотипом или плашкой.
                        fieldset.fieldset#tags
                            h2 Теги
                            label.label(for="tagSelect") Категория и подкатегория
                            input(type='text').input.input-category#tagSelect
                            div.cats
                                div.tag Антицеллюлитный массаж
                                div.tag Банночный массаж
                                div.tag Криомассаж
                                div.tag Массаж воротниковой зоны
                                div.tag Ручной массаж
                                div.tag Спортивный массаж
                                div.tag Шоколадное обертывание
                                div.tag Холодное обертывание
                                div.tag Массаж спины
                                div.tag Массаж стоп
                        fieldset.fieldset#fix
                            h2 Закрепление акции
                            input(type="checkbox")#fix_allCities
                            label.checkboxLabel(for="fix_allCities")
                                span
                                .
                                    Все города
                            div.formSplitter
                                div.formSplitter__left
                                    label.label(for="fix_city") Выбор города
                                    input.input.input-mid(type="text")#fix_city
                                div.formSplitter__right
                                    label.label(for="fix_exCity") Кроме городов
                                    input.input.input-mid(type="text" disabled)#fix_exCity
                                    div.cities
                                        div.city Москва
                                        div.city Москва ***
                            label.label(for="fix_category") Категория и подкатегория
                            input(type='text').input.input-category#fix_category
                            div.cats
                                div.tag Красота/SPA, массаж, уход за лицом
                                div.tag Рестораны/Доставка еды
                            div.fixDates
                                div.fixDates__row
                                    div
                                        label.label(for="position") Место
                                        input.input.input-short(type="text" value="3")#position
                                    div
                                        label.label(for="endEvent") Период действия закрепления
                                        input.input.input-short(type="text" placeholder="ДД.ММ.ГГГГ" maxlength="10")#fixStart
                                        div.splitter -
                                        input.input.input-short(type="text" placeholder="ДД.ММ.ГГГГ" maxlength="10")#fixEnd
                            div.innerButton.innerButton-right Сохранить
                        fieldset.fieldset#comments
                            h2 Комментарии
                            label.label(for="commentText") Комментарий для менеджера или руководителя
                            textarea.textarea.textarea-small(placeholder="Комментарий по оформлению или закреплению акции. Ссылки на фото или видео.")#commentText
                        div.footerRow
                            div
                                label.label(for='status') Статус
                                select.select.select-mid#status
                                    option(disabled selected) Выберите статус
                                    option Статус 1
                                    option Статус 2
                                    option Статус 3
                            div.footerRow__right
                                button.preview Предпросмотр
                                button.submit Создать заявку
    //build:js js/main.min.js
    script(src="js/scripts.js")
    script(src="js/tabs.js")
    //script(src="js/yaMaps.js")
    script(src="js/dropdown.js")
    script(src="js/scrollTo.js")
    script(src="js/cityCheck.js")
    script(src="js/datePicker.js")
    //endbuild