// Left menu
-
    var leftMenu = {
        create:{
            type: 'create',
            description: 'Создать акцию'
        },
        shares:{
            type: 'shares',
            description: 'Акции'
        },
        partners:{
            type: 'partners',
            description: 'Партнеры'
        },
        docs:{
            type: 'docs',
            description: 'Договоры'
        },
        fin:{
            type: 'fin',
            description: 'Фин. заявки'
        }
    };
// Header menu

-
    var headerMenu = {
        0:{
            name: 'Партнер',
            anchor: 'partnerBlock'
        },

        1:{
            name: 'Договор',
            anchor: 'contractBlock'
        },

        2:{
            name: 'Условия',
            anchor: 'conditionsBlock'
        },

        3:{
            name: 'Размещение',
            anchor: 'share'
        },

        4:{
            name: 'Условия действия купонов',
            anchor: 'couponConditions'
        },

        5:{
            name: 'Цены',
            anchor: 'pricesBlock'
        },

        6:{
            name: 'Адреса',
            anchor: 'placesBlock'
        },

        7:{
            name: 'Коментарии',
            anchor: 'comments'
        }
    }

// Partner
-
    var legalEntity = [
        'Первый партнер',
        'Второй партнер',
        'Третий партнер',
        'Четвертый партнер'
    ]

// Contract
-
    var contracts = [
        '112233',
        '223344',
        '334455',
        '445566'
    ]

// Services
-
    var service = [
        'первая услуга',
        'вторая услуга',
        'третья услуга',
        'четвертая услуга'
    ]